      <h1>Goal: {{ headline }} </h1> <br>
      <p><strong>Description: </strong>{{ description }}</p>
      <p><strong>Date Created:</strong> {{ timestamp }}</p><br>
      <p><strong>Difficulty: </strong>{{ difficulty }}</p>
      <p><strong>Priority: </strong>{{ priority }}</p> <br>
      <p><strong>Success: </strong>{{ success }}</p> <br>

      