      <h1>Post: {{ headline }} </h1> <br>
      <p><strong>Description: </strong>{{ description }}</p><br>
      <p><strong>Date Created:</strong> {{ timestamp }}</p>
      <p><strong>Date of Completion: </strong>{{ doc }}</p><br>
      <p><strong>Difficulty: </strong>{{ difficulty }}</p>
      <p><strong>Priority: </strong>{{ priority }}</p> <br>
      <p><strong>Success: </strong>{{ success }}</p> <br>

      